@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@theme {
  --font-family-body: "Montserrat", sans-serif;
  --font-family-heading: "Domine", serif;
}

@layer base {
  * {
    font-family: var(--font-family-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading);
  }
}
